:root {
  --green-color: #25d060;
  --blue-color: #2a6fc9;
  --red-color: #e50914;
  --purple-color: #e50914;
  --main-dark: #18191a;
  --dark-blue: #8399a8;
  --tuscany-color: #bf9d9d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
html:hover {
  cursor: none;
}
body {
  background: var(--tuscany-color);
  -webkit-font-smoothing: antialiased;
  color: #fff;
  overflow: hidden;
}

body,
input,
button {
  font-family: "Montserrat", sans-serif;
  cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  text-align: center;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #dbc09e;
  padding: 30px;
  border-radius: 15px;
}
img {
  border-radius: 15px;
}

.login-container input,
.login-container button {
  margin: 3px;
  padding: 5px;
  border-radius: 10px;
  border: 0;
}
